.root {
  width: 100%;
  box-sizing: border-box;
  padding: 9px 20px 20px;
  background-color: var(--biege);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .root {
    max-width: 210px;
  }
}

@media screen and (min-width: 1024px) {
  .root {
    max-width: 280px;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .buttonsContainer {
    flex-direction: column;
  }
}

.heading {
  margin-bottom: 25px;
}

.title {
  margin-bottom: 3px;
}

.filter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(124px, 1fr));
  -webkit-overflow-scrolling: touch;
  border: solid var(--border-peach);
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
  padding-bottom: 1px;
}

@media screen and (min-width: 768px) {
  .filter {
    overflow-y: hidden;
    margin-bottom: 32px;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .filter {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .button {
    margin: 0 auto 35px;
    width: 100%;
  }
}
