.root {
  max-width: 280px;
  box-sizing: border-box;
  padding: 9px 20px 20px;
  background-color: var(--biege);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.heading {
  margin-bottom: 25px;
}

.title {
  margin-bottom: 3px;
}

.button {
  margin-bottom: 35px;
}
