.root {
  color: var(--gray-20);
  user-select: none;
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}

.root.white {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .root {
    font-size: 16px;
  }
}
