.root {
  color: var(--dark-gray);
  user-select: none;
  font-weight: 600;
  margin: 0;
  font-size: 14px;
  &.white {
    color: var(--white);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1024px) {
  }
}
