.root {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.root p {
  margin: 0;
}

.root.edit {
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.44;
  color: var(--gray-60);
}

.text {
  font-weight: 600;
  color: var(--gray-20);
}

.text.edit {
  width: 396px;
  max-width: 396px;
}

.children {
  padding-top: 4px;
  gap: 4px;
  display: flex;
  align-items: center;
}
