.root {
  margin: 0;
  color: var(--gray-20);
  user-select: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.44;
}

.root.white {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .root {
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .root {
    font-size: 30px;
  }
}
