.root {
  padding: 54px 0;
}

.heading {
  margin-bottom: 33px;
}

.wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
