.root {
  position: relative;
  width: 100%;
  background-color: var(--purple);
}

.wrapper {
  width: 100%;
  z-index: 10;
  padding-top: 48px;
  padding-bottom: 32px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 96px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding-top: 164px;
    padding-bottom: 92px;
  }
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .contentWrapper {
    max-width: 580px;
  }
}

.subtitle {
  max-width: 380px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 520px) {
  .button {
    width: min-content;
  }
}

@media screen and (min-width: 1024px) {
  .button {
    margin-left: 14.5px;
  }
}

.backgroundText {
  position: absolute;
  z-index: 1;
  font-size: 17vw;
  font-weight: 700;
  color: var(--white);
  opacity: 0.12;
  margin: 0;
  bottom: 80px;
  left: 50%;
  translate: -50%;
}

@media screen and (min-width: 768px) {
  .backgroundText {
    bottom: 60px;
  }
}

@media screen and (min-width: 1080px) {
  .backgroundText {
    font-size: 200px;
  }
}
