.root {
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .root {
    padding: 60px 0;
  }
}

.wrapper {
  background-color: var(--biege);
  padding: 20px 20px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 20px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding: 20px 100px;
  }
}

.header {
  height: 76px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .header {
    height: auto;
  }
}

.headerPageOne {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translateY(0);
  transition: transform 0.25s ease;
}

.headerPageOne.hide {
  transform: translateY(-200px);
}

.headerPageTwo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translateY(-64px);
  transition: transform 0.25s ease;
}

.headerPageTwo.hide {
  transform: translateY(200px);
}

.content {
  border: solid var(--gray-40);
  border-width: 1px 0 1px 0;
}

.contentWrapper {
  padding: 20px 0 39px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.subtitle {
  color: var(--gray-40);
}

.footer {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}

.button {
  min-width: 148px;
  padding: 13.5px 42px;
}

.pagination {
  color: var(--gray-40);
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
}

.topProducts {
  width: 100%;
  height: 428px;
  margin: 16px 0;
  padding: 35px 40px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--border-peach);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .topProducts {
    height: auto;
    grid-template-columns: 1fr;
  }
}
