.root {
  padding: 0;

  @media screen and (min-width: 1024px) {
    padding: 60px 0;
  }
}

.wrapper {
  background-color: var(--biege);
  padding: 20px 20px;

  @media screen and (min-width: 768px) {
    padding: 20px 40px;
  }

  @media screen and (min-width: 1024px) {
    padding: 20px 100px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  border: solid var(--gray-40);
  border-width: 1px 0 1px 0;
  padding: 20px 0 60px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.subtitle {
  color: var(--gray-40);
}

.footer {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}

.button {
  padding: 13.5px 42px;
}

.pagination {
  color: var(--gray-40);
  font-weight: 600;
  font-size: 16px;
}
