.container {
  flex-grow: 1;
}

.heading {
  margin-bottom: 55px;
}

.content {
  display: flex;
  gap: 42px;
}

.loader {
  margin: 0 auto;
}

.centered {
  display: flex;
  flex-direction: column;
  gap: 44px;
  justify-content: center;
  align-items: center;
}
