.page {
  width: 100%;
  display: flex;
  padding-top: 145px;
  padding-bottom: 210px;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.title {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
