.root {
  padding-top: 30px;
  padding-bottom: 20px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expandBtn {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -3px;
  right: 0;
  transition: transform 0.25s ease;
  background-image: url(../../../icons/expand.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeatC;
}

.expandBtn.open {
  transform: rotate(45deg);
}

.footer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 200ms ease,
    opacity 200ms ease;
}

.footer.open {
  max-height: 1000px;
  opacity: 1;
  transition:
    max-height 600ms ease,
    opacity 200ms ease;
}

.question {
  margin: 0;
  color: var(--faq-gray);
  padding-bottom: 16px;
}

.answer {
  color: var(--faq-gray);
  opacity: 0.5;
}
