.root {
  text-decoration: none;
  color: var(--white);
  transition: opacity 0.2s ease;
}

.root:hover {
  opacity: 0.8;
}

.text {
  margin: 0;
  font-size: 0.9rem;
  white-space: nowrap;
  font-weight: 600;
}
