@import url(./vendors/normalize.css);
@import url(./vendors/font.css);

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

body {
  margin: 0;
  background-color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Jost', 'Arial', sans-serif;
  font-display: swap;
  color: var(--gray-20);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

:root {
  --black: #000;
  --white: #fff;
  --white-50: rgba(255, 255, 255, 0.5);

  --gray-10: #242424;
  --gray-20: #444b58;
  --gray-40: #808080;
  --gray-60: #b2b5bb;
  --gray-90: #f6f6f6;

  --brand-red: #f14f4f;
  --biege: #fff4ee;
  --purple: #484283;
  --border-peach: #dbbba9;
  --fade-50: rgba(36, 36, 36, 0.5);
}
